<a href="https://colab.research.google.com/github/vbayarri/SpainAI_2020_reto_NLP/blob/main/1.Jupyter/Transformers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análisis de train and test data

## Importación de librerias

In [4]:
import base64
import requests
import io
import pandas as pd

## Importación de ficheros de datos

In [19]:
train = "https://raw.githubusercontent.com/vbayarri/SpainAI_2020_reto_NLP/main/0.Dataset/train.csv"
req = requests.get(train)
traindata = req.text
trainpd = pd.read_csv(io.StringIO(traindata), sep=",", dtype=str)

test = "https://raw.githubusercontent.com/vbayarri/SpainAI_2020_reto_NLP/main/0.Dataset/test_descriptions.csv"
req = requests.get(test)
testdata = req.text
testpd = pd.read_csv(io.StringIO(testdata), sep=",", dtype=str)

## Volumetrías de datos

Summarize Data

In [20]:
trainpd.describe()

                 name                                        description
count           33613                                              33613
unique          23428                                              31593
top     PRINTED DRESS  Short sleeve T-shirt with a round neckline and...
freq               61                                                 48

In [15]:
testpd.describe()

                                              description
count                                                1441
unique                                               1428
top     Duvet cover in 150 thread count cotton with a ...
freq                                                    3